@keyframes App-logo-spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
.NoSearch img {
    height: 15vmin;
    /* pointer-events: none; */
    margin-bottom: 30px;
}

@media (prefers-reduced-motion: no-preference) {
    .NoSearch img {
        animation: App-logo-spin infinite 20s linear;
    }
}

.NoSearch{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100%;
}

    