/* Default code */
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&family=Roboto+Condensed:wght@300;400;700&display=swap');

body {
  margin: 0;
  font-family: 'Poppins', Arial, sans-serif !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* Base form */
* {
  box-sizing: inherit;
  /* Phần tử con kế thừa kích thước của cha */
}

html{
  font-size: 1.25rem;
  font-weight: bold;
  /* Mặc định là 16px */
  line-height: 1.25rem;
  /*rem phụ thuộc vào thẻ html*/
  
  color: rgb(231, 235, 237);
  
  box-sizing: border-box;
  /*Nếu thay đổi padding, border thì phần tử giữ nguyên kích thước tổng thể ban đầu*/
  width: 100%;
  height: 100%;

}

body{
  margin: 0;
  width: 100%;
  height: 100%;
}

#root{
  width: 100%;
  height: 100%;
}